<form class="propose-contest-form text-lg uppercase">
    <div
        class="flex flex-row justify-between items-stretch border-2 border-l-0 border-black uppercase w-56 mt-2 mb-4 -ml-2 pl-2"
    >
        <div class="domain flex flex-row items-center pl-2 mr-2">
            <img
                src="systems/agon/assets/{{domain}}.svg"
                class="h-11 my-2 mr-2 border-none"
                alt=""
            />
            <label
                for="data.domains.{{domain}}"
                class="w-24 text-lg leading-none"
                data-label="{{domain}}"
            >{{localize (concat "AGON." domain)}}</label>
        </div>
        <div class="flex flex-col flex-none border-l-2 border-black font-bold">
            <div class="flex-none px-2 pt-1 text-sm">Target</div>
            <div
                class="text-xl flex flex-grow justify-center items-center"
            ><span>{{target}}</span></div>
        </div>
    </div>
    <section class="sheet-section">
        <h2>Your Epithet</h2>
        <div class="flex flex-row flex-wrap">
            <div class="stroked-checkbox">
                <input type="checkbox" id="epithet1" name="epithet1" />
                <label for="epithet1">{{ hero.data.epithet }}</label>
            </div>
            {{#if hero.data.epithet2 }}
                <div class="stroked-checkbox">
                    <input type="checkbox" id="epithet2" name="epithet2" />
                    <label for="epithet2">{{ hero.data.epithet2 }}</label>
                </div>
            {{/if}}
        </div>
    </section>

    <section class="sheet-section">
        <h2>Domain</h2>
        <h3>Mark Pathos for a second Domain</h3>
        <div class="flex flex-row flex-wrap font-bold -ml-2 -mt-2">
            {{#each config.domains as |domain order|}}
                <div class="domain font-sans font-bold bg-accent-200 mt-2 mr-2">
                    <input
                        type="radio"
                        id="{{domain}}"
                        value="{{domain}}"
                        name="domain"
                        class="hidden"
                    />
                    <label
                        for="{{domain}}"
                        class="flex flex-row flex-1 items-center pl-2"
                    >
                        <img
                            src="systems/agon/assets/{{domain}}.svg"
                            class="h-11 my-2 mr-2 border-none"
                            alt=""
                        />
                        <span class="w-24 text-lg leading-none">{{localize
                                (concat "AGON." domain)
                            }}</span>
                    </label>
                </div>
            {{/each}}
        </div>
    </section>

    <section class="sheet-section">
        <h1>Divine Favor</h1>
        <h3>Invoke Divine Favor by calling on the strength of a god</h3>
        <div class="flex flex-row flex-wrap -ml-2 -mt-2">
            {{#each favors as |divine alias|}}
                <div class="domain bg-accent-200 mt-2 mr-2 text-sm">
                    <input
                        type="radio"
                        id="favor_{{alias}}"
                        name="favor"
                        value="{{alias}}"
                        class="hidden"
                    />
                    <label for="favor_{{alias}}" class="flex flex-col flex-1 p-2">
                        <div class="font-bold">{{ divine.strength }}</div>
                        <div>{{ divine.name }}</div>
                    </label>
                </div>
            {{/each}}
        </div>
    </section>

    <section class="sheet-section">
        <h1>Bonds</h1>
        <h3>Use a Bond and call for aid</h3>
        <div class="flex flex-row flex-wrap">
            <div class="stroked-checkbox">
                <input type="checkbox" id="bond1" name="bond" value="bond1" />
                <label for="bond1">Zeus</label>
            </div>
            <div class="stroked-checkbox">
                <input type="checkbox" id="bond2" name="bond" value="bond2" />
                <label for="bond2">Draos</label>
            </div>
        </div>
    </section>

    <section class="sheet-section">
        <h1>Support</h1>
        <h3>Does another Hero Player support you?</h3>
        <div class="flex flex-row flex-wrap">
            <div class="stroked-checkbox">
                <input
                    type="checkbox"
                    id="support1"
                    name="support"
                    value="support1"
                />
                <label for="support1">Helene</label>
            </div>
            <div class="stroked-checkbox">
                <input
                    type="checkbox"
                    id="support2"
                    name="support"
                    value="support1"
                />
                <label for="support2">Draos</label>
            </div>
        </div>
    </section>

    <section class="sheet-section">
        <h2>Advantage</h2>
        <div class="radio-row">
            <div>
                <input type="radio" id="0" value="0" name="advantage" checked />
                <label for="0">None</label>
            </div>
            <div>
                <input
                    type="radio"
                    id="d6"
                    value="d6"
                    name="advantage"
                    class="hidden"
                />
                <label for="d6">d6</label>
            </div>
            <div>
                <input
                    type="radio"
                    id="d8"
                    value="d8"
                    name="advantage"
                    class="hidden"
                />
                <label for="d8">d8</label>
            </div>
            <div>
                <input
                    type="radio"
                    id="d10"
                    value="d10"
                    name="advantage"
                    class="hidden"
                />
                <label for="d10">d10</label>
            </div>
        </div>
    </section>
</form>