<form class="propose-contest-form text-lg  uppercase">
    <section class="sheet-section">
        <h1>A Worthy Opponent</h1>
        <div class="name bg-accent-200 cut-corners--nested flex flex-row items-stretch mb-2 -ml-2">
            <label for="name" class="flex-none w-24 px-3 py-2 leading-none self-center">Name</label>
            <input type="text" name="name" placeholder="Hero Name"
                style="margin-right: -2px;"/>
            {{> "systems/agon/templates/partials/die-dropdown.handlebars"
                name='nameDie'
                value='d6'
                dieTypes=config.dieTypes}}
        </div>
        <div class="epithet bg-accent-200 cut-corners--nested flex flex-row items-stretch mb-2 -ml-2">
            <label for="epithet" class="flex-none w-24 px-3 py-2 leading-none self-center uppercase">Epithet</label>
            <input
                type="text"
                name="epithet"
                placeholder="Clever-Eyed"
                style="margin-right: -2px;"/>
            {{> "systems/agon/templates/partials/die-dropdown.handlebars"
                name='epithetDie'
                value='d6'
                dieTypes=config.dieTypes}}
        </div>
        <div class="epithet bg-accent-200 cut-corners--nested flex flex-row items-stretch mb-2 -ml-2">
            <label for="epithet2" class="flex-none w-24 px-3 py-2 leading-none self-center uppercase">Epithet</label>
            <input
                type="text"
                name="epithet2"
                placeholder="Clever-Eyed"
                style="margin-right: -2px;"/>
            {{> "systems/agon/templates/partials/die-dropdown.handlebars"
                name='epithet2Die'
                value='d6'
                dieTypes=config.dieTypes}}
        </div>
    </section>
    <section class="sheet-section">
        <h2>Foe Status</h2>
        <div class="flex flex-row flex-wrap">
            <div class="stroked-checkbox">
                <input type="checkbox" id="epic" name="epic" />
                <label for="epic">Epic</label>
            </div>
            <div class="stroked-checkbox">
                <input type="checkbox" id="mythic" name="mythic" />
                <label for="mythic">Mythic</label>
            </div>
            <div class="stroked-checkbox">
                <input type="checkbox" id="perilous" name="perilous" />
                <label for="perilous">Perilous</label>
            </div>
            <div class="stroked-checkbox">
                <input type="checkbox" id="sacred" name="sacred" />
                <label for="sacred">Sacred</label>
            </div>
        </div>
    </section>
    <section class="sheet-section">
        <h2>Divine Wrath</h2>
        <div class="radio-row">
            <div>
                <input
                    type="radio"
                    id="0"
                    value="0"
                    name="wrathLevel"
                    class="hidden"
                    checked
                />
                <label for="0">None</label>
            </div>
            <div>
                <input type="radio" id="d8" value="d8" name="wrathLevel" class="hidden"/>
                <label for="d8">d8</label>
            </div>
            <div>
                <input type="radio" id="d10" value="d10" name="wrathLevel" class="hidden"/>
                <label for="d10">d10</label>
            </div>
            <div>
                <input type="radio" id="d12" value="d12" name="wrathLevel" class="hidden"/>
                <label for="d12">d12</label>
            </div>
        </div>
    </section>
    <section class="sheet-section">
        <h2>Strife Level</h2>
        <div 
            class="radio-row">
            <div class="flex-grow-0">
                <input type="radio" id="+4" value="+4" name="strifeLevel"/>
                <label 
                    for="+4"
                    >+4</label>
            </div>
            <div class="flex-grow-0">
                <input
                    type="radio"
                    id="+5"
                    value="+5"
                    name="strifeLevel"
                    checked
                />
                <label for="+5">+5</label>
            </div>
            <div class="flex-grow-0">
                <input type="radio" id="+6" value="+6" name="strifeLevel" />
                <label for="+6">+6</label>
            </div>
        </div>
    </section>
    <section class="sheet-section">
        <h2>Domain</h2>
        <div class="flex flex-row flex-wrap font-bold -ml-2 -mt-2">
            <div
                class="domain font-sans font-bold bg-accent-200 mt-2 mr-2 w-full"
            >
                <input
                    type="radio"
                    id="none"
                    value="none"
                    name="domain"
                    class="hidden"
                    checked
                />
                <label for="none" class="flex flex-row flex-1 items-center pl-2">
                    <img
                        src="systems/agon/assets/any-domain.svg"
                        class="w-9 h-11 my-2 mr-2 border-none"
                        alt=""
                    />
                    <span class="w-24 text-lg leading-none">Hero's Choice</span>
                </label>
            </div>

            {{#each config.domains as |domain order|}}
                <div
                    class="domain font-sans font-bold bg-accent-200 mt-2 mr-2"
                >
                    <input
                        type="radio"
                        id="{{domain}}"
                        value="{{domain}}"
                        name="domain"
                        class="hidden"
                    />
                    <label
                        for="{{domain}}"
                        class="flex flex-row flex-1 items-center  pl-2"
                    >
                        <img
                            src="systems/agon/assets/{{domain}}.svg"
                            class="h-11 my-2 mr-2 border-none"
                            alt=""
                        />
                        <span class="w-24 text-lg leading-none">{{localize
                                (concat "AGON." domain)
                            }}</span>
                    </label>
                </div>
            {{/each}}
        </div>
    </section>
</form>