<form>
    <h1>A Worth Opponent</h1>
    <div class="flex flex-row">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <select name="nameDie">
            {{selectOptions config.dieTypes localize=false}}
        </select>
    </div>
    <div class="flex flex-row">
        <label for="epithet">Epithet</label>
        <input type="text" name="epithet" id="epithet" />
        <select name="epithetDie">
            {{selectOptions config.dieTypes localize=false}}
        </select>
    </div>
    <div class="flex flex-row">
        <label for="epithet">Epithet</label>
        <input type="text" name="epithet2" id="epithet2" />
        <select name="epithet2Die">
            {{selectOptions config.dieTypes localize=false}}
        </select>
    </div>
    <fieldset>
        <legend><h2>Foe Status</h2></legend>
        <div class="flex flex-row">
            <label for="epic">
                <input type="checkbox" id="epic" name="epic" />
                Epic
            </label>
            <label for="mythic">
                <input type="checkbox" id="mythic" name="mythic" />
                Mythic
            </label>
            <label for="perilous">
                <input type="checkbox" id="perilous" name="perilous" />
                Perilous
            </label>
            <label for="sacred">
                <input type="checkbox" id="sacred" name="sacred" />
                Sacred
            </label>
        </div>
    </fieldset>
    <h2>
        Divine Wrath
    </h2>
    <p>???</p>
    <fieldset>
        <legend><h2>Strife Level</h2></legend>
        <div class="flex flex-row">
            <div>
                <input type="radio" id="+0" value="+0" name="strifeLevel" checked>
                <label for="+0">+0</label>
            </div>
            <div>
                <input type="radio" id="+4" value="+4" name="strifeLevel">
                <label for="+4">+4</label>
            </div>
            <div>
                <input type="radio" id="+5" value="+5" name="strifeLevel">
                <label for="+5">+5</label>
            </div>
            <div>
                <input type="radio" id="+6" value="+6" name="strifeLevel">
                <label for="+6">+6</label>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend><h2>Domain</h2></legend>
        <div class="flex flex-row flex-wrap">
            {{#each config.domains as |domain order|}}
                <div class="domain flex flex-row items-stretch font-sans font-bold">
                    <input type="radio" id="{{domain}}" value="{{domain}}" name="domain">
                    <img src="systems/agon/assets/{{domain}}.svg" class="w-10" alt="">
                    <label
                        for="data.domains.{{domain}}"
                        class="w-24 text-xl"
                        data-label="{{domain}}">{{localize (concat "AGON." domain)}}</label>
                </div>
            {{/each}}
        </div>
    </fieldset>
</form>
