<form class="{{cssClass}} container uppercase" autocomplete="off">
    <div class="flex flex-row">
        {{!-- Sheet Header --}}
        <div class="mb-4">
            <header class="sheet-header flex flex-row mb-4">
                <img src="systems/agon/assets/agon-logo.svg" alt="AGON" class="logo">
                <img class="profile-img h-auto w-14 bg-gray-400 border-2 border-gray-700 rounded-full" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
                <section class="glory sheet-section">
                    <h1>glory (d10)</h1>
                    <meter min="0" low="10" optimum="50" high="90" max="100" value="70" class="w-full"></meter>
                </section>
            </header>
            <section class="names text-lg">
                <div class="epithet bg-accent-300 cut-corners--nested flex flex-row items-stretch mb-2">
                    <label for="data.epithet" class="cut-corners--left px-3 py-2 flex-initial leading-none self-center">Epithet</label>
                    <input
                        type="text"
                        name="data.epithet"
                        value="{{data.epithet}}"
                        placeholder="Clever-Eyed"
                        style="margin-right: -2px;"/>
                    {{> "systems/agon/templates/partials/die-dropdown.handlebars"
                        name='data.epithet_die'
                        value=data.epithet_die
                        dieTypes=config.dieTypes}}
                </div>
                <div class="epithet bg-accent-300 cut-corners--nested flex flex-row items-stretch mb-2 hidden">
                    <label for="data.epithet2" class="cut-corners--left px-3 py-2 flex-initial leading-none self-center">Epithet</label>
                    <input
                        type="text"
                        name="data.epithet2"
                        value="{{data.epithet2}}"
                        placeholder="Clever-Eyed"/>
                </div>
                <div class="name bg-accent-300 cut-corners--nested flex flex-row items-stretch mb-2">
                    <label for="name" class="cut-corners--left px-3 py-2 flex-initial leading-none self-center">Name</label>
                    <input type="text" name="name" value="{{actor.name}}" placeholder="Hero Name"
                        style="margin-right: -2px;"/>
                    <input type="text" name="data.pronouns" value="{{data.pronouns}}" placeholder="They/Them"
                        style="margin-right: -2px;"/>
                    {{> "systems/agon/templates/partials/die-dropdown.handlebars"
                        name='data.name_die'
                        value=data.name_die
                        dieTypes=config.dieTypes}}
                </div>
                <div class="lineage bg-accent-300 cut-corners--nested flex flex-row items-stretch mb-2">
                    <label for="data.lineage" class="cut-corners--left px-3 py-2 flex-initial leading-none self-center">Lineage</label>
                    <input type="text" name="data.lineage" value="{{data.lineage}}" placeholder="Scion of" class="w-40"/>
                </div>
                <div class="honored-god bg-accent-300 flex flex-row items-stretch relative">
                    <label for="data.honored_god.name" class="cut-corners--left px-3 py-2 flex-initial leading-none self-center">Honored God</label>
                    <input type="text" name="data.honored_god.name" value="{{data.honored_god.name}}" placeholder="Zeus"
                        style="margin-right: -2px;"/>
                    <input type="text" name="data.honored_god.strength" value="{{data.honored_god.strength}}" placeholder="Authority" class="w-32"/>
                    <div class="divine-favours absolute top-0 -right-4 flex flex-col">
                        <input type="checkbox" id="divine_favor_1" name="divine_favor_1" />
                        <input type="checkbox" id="divine_favor_2" name="divine_favor_2" />
                    </div>
                </div>
            </section>
        </div>
        <section class="domains sheet-section">
            <h1>Domains</h1>
            <div class="flex flex-col">
                {{#each data.domains as |die domain|}}
                    <div class="domain cut-corners--nested flex flex-row flex-1 items-center font-sans font-bold bg-accent-300 pl-2 mb-2 -ml-2 last:mb-0">
                        <img src="systems/agon/assets/{{domain}}.svg" class="h-11 my-2 mr-2 border-none" alt="">
                        <label
                            for="data.domains.{{domain}}"
                            class="resource-label rollable w-24 text-lg leading-none"
                            data-roll="d@domains.{{domain}}"
                            data-label="{{domain}}">{{localize (concat "AGON." domain)}}</label>
                        {{> "systems/agon/templates/partials/die-dropdown.handlebars" 
                            name=(concat 'data.domains.' domain)
                            dieTypes=../config.dieTypes
                            value=die}}
                    </div>
                {{/each}}
            </div>
        </section>
    </div>

    <section class="favors sheet-section">
        <h1>Divine Favor</h1>
        <div class="grid grid-cols-4 gap-4 -ml-2">
            {{#each data.divines as |divine divineHandle|}}
                <div class="divine bg-accent-300 border-0 border-r-2 border-black px-4 py-2 relative mr-4">
                    <div class="divine__strength font-bold">{{divine.strength}}</div>
                    <div class="divine__name">{{divine.name}}</div>
                    <div class="divine__favours absolute top-0 -right-4 flex flex-col">
                        <input type="checkbox" id="divine_favor_1" name="divine_favor_1" />
                        <input type="checkbox" id="divine_favor_2" name="divine_favor_2" />
                    </div>
                </div>
            {{/each}}
        </div>
    </section>

    <section class="style sheet-section">
        <h1>Style & Notes</h1>
        {{editor content=data.style target="data.style" button=true owner=owner editable=editable}}
    </section>
    {{!-- <section class="recite">
        <h1>Recite Your Deeds</h1>
        <p>Shouldn't this be part of the roll dialog?</p>
    </section> --}}
    <div class="flex flex-row">
        <section class="pathos sheet-section">
            <h1>Pathos</h1>
            <div class="flex flex-row items-center -ml-2">
                <div class="pathos-line">
                    <input
                        type="radio"
                        value="1"
                        name="pathos"
                        class="m-0 static"
                    />
                </div>
                <div class="pathos-line">
                    <input
                        type="radio"
                        value="2"
                        name="pathos"
                        class="m-0 static"
                    />
                </div>
                <div class="pathos-line">
                    <input
                        type="radio"
                        value="3"
                        name="pathos"
                        class="m-0 static"
                    />
                </div>
                <div class="pathos-line">
                    <input
                        type="radio"
                        value="4"
                        name="pathos"
                        class="m-0 static"
                    />
                </div>
                <div class="pathos-line">
                    <input
                        type="radio"
                        value="5"
                        name="pathos"
                        class="m-0 static"
                    />
                </div>
                <div class="flex flex-col bg-gray-300 items-center p-1 pb-2 -ml-2 -mt-4">
                    <label class="text-sm">Agony</label>
                    <input
                        type="radio"
                        value="6"
                        name="pathos"
                        class="m-0 static"
                    />
                </div>
            </div>
        </section>
        <section class="fate sheet-section">
            <h1>Fate</h1>
            <div class="flex flex-row items-center -ml-2">
                <div class="fate-line fate-line--marked">
                    <input
                        type="checkbox"
                        value="1"
                        name="fate"
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="2"
                        name="fate"
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="3"
                        name="fate"
                    />
                </div>
                <div class="fate-line fate-line--marked">
                    <input
                        type="checkbox"
                        value="4"
                        name="fate"
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="5"
                        name="fate"
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="6"
                        name="fate"
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="1"
                        name="fate"
                    />
                </div>
                <div class="fate-line fate-line--marked">
                    <input
                        type="checkbox"
                        value="2"
                        name="fate"
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="3"
                        name="fate"
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="4"
                        name="fate"
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="5"
                        name="fate"
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="6"
                        name="fate"
                    />
                </div>
            </div>

        </section>
    </div>
    <div class="flex flex-row">
        <section class="boons sheet-section">
            <h1>Boons</h1>
            <div class="flex flex-row flex-wrap">
                {{#each data.boons as |boonStatus boon|}}
                <div class="boon w-1/2">
                    <input type="checkbox" id="boon_{{boon}}" name="boon_{{boon}}" {{checked boonStatus}}/>
                    <label class="boon__name" for="{{boon}}">{{boon}}</label>
                </div>
                {{/each}}
            </div>
        </section>
        
        <section class="virtues sheet-section">
            <h1>Virtues</h1>
            <div class="flex-row">
                {{#each data.virtues as |virtueAmount virtue|}}
                    <div class="virtue flex flex-row flex-1">
                        <label
                            for="data.virtues.{{virtue}}">{{virtue}}</label>
                        <input
                            name="data.virtues.{{virtue}}"
                            type="number"
                            value="{{virtueAmount}}"/>
                    </div>
                {{/each}}
            </div>
        </section>
    </div>
    <div class="flex flex-row">
        <section class="bonds sheet-section">
            <h1>Bonds</h1>
            <div class="flex-column">
                {{#each data.bonds as |bond bondKey|}}
                    <div class="bond flex flex-row">
                        <input
                            name="data.bonds.{{bondKey}}.name"
                            type="text"
                            value="{{bond.name}}"
                            class="bond__name flex-grow"/>
                        <input
                            name="data.bonds.{{bondKey}}.strength"
                            type="text"
                            value="{{bond.strength}}"
                            class="bond__strength"
                            placeholder="0"
                            data-dtype="Number"/>
                    </div>
                {{/each}}
            </div>
        </section>
        <section class="trophies sheet-section">
            <h1>Great Deeds & Trophies</h1>
            <div class="flex-column">
                {{#each data.trophies as |trophy trophyKey|}}
                    <div class="bond flex flex-row">
                        <input
                            type="checkbox"
                            name="data.trophies.{{trophyKey}}.spent"
                            {{checked trophy.spent}} />
                        <input
                            name="data.trophies.{{trophyKey}}.name"
                            type="text"
                            value="{{trophy.name}}"
                            class="trophy__name flex-grow"/>
                    </div>
                {{/each}}
            </div>
        </section>
    </div>
    
</form>

