<form class="{{cssClass}} container uppercase" autocomplete="off">
    <div class="flex flex-row">
        {{!-- Sheet Header --}}
        <div class="mb-4">
            <header class="sheet-header flex flex-row mb-4">
                <img src="systems/agon/assets/agon-logo.svg" alt="AGON" class="logo">
                <img class="profile-img h-auto w-14 bg-gray-400 border-2 border-gray-700 rounded-full" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
                <section class="glory sheet-section">
                    <h1>glory (d10)</h1>
                    <meter min="0" low="10" optimum="50" high="90" max="100" value="70" class="w-full"></meter>
                </section>
            </header>
            <section class="names text-lg">
                <div class="epithet bg-accent-200 cut-corners--nested flex flex-row items-stretch mb-2">
                    <label for="data.epithet" class="cut-corners--left flex-none w-28 px-3 py-2 leading-none self-center">Epithet</label>
                    <input
                        type="text"
                        name="data.epithet"
                        value="{{data.epithet}}"
                        placeholder="Clever-Eyed"
                        style="margin-right: -2px;"/>
                    {{> "systems/agon/templates/partials/die-dropdown.handlebars" name='data.epithet_die' value=data.epithet_die dieTypes=config.dieTypes}}
                </div>
                {{#if data.boons.2nd-epithet }}
                    <div class="epithet bg-accent-200 cut-corners--nested flex flex-row items-stretch mb-2">
                        <label for="data.epithet2" class="cut-corners--left flex-none w-28 px-3 py-2 leading-none self-center">Epithet</label>
                        <input
                            type="text"
                            name="data.epithet2"
                            value="{{data.epithet2}}"
                            placeholder="Clever-Eyed"/>
                    </div>
                {{/if}}
                <div class="name bg-accent-200 cut-corners--nested flex flex-row items-stretch mb-2">
                    <label for="name" class="cut-corners--left flex-none w-28  px-3 py-2 leading-none self-center">Name</label>
                    <input type="text" name="name" value="{{actor.name}}" placeholder="Hero Name"
                        class="-mr-0.5"/>
                    <input type="text" name="data.pronouns" value="{{data.pronouns}}" placeholder="They/Them"
                        class="-mr-0.5"/>
                    {{> "systems/agon/templates/partials/die-dropdown.handlebars"
                        name='data.name_die'
                        value=data.name_die
                        dieTypes=config.dieTypes}}
                </div>
                <div class="lineage bg-accent-200 cut-corners--nested flex flex-row items-stretch mb-2">
                    <label for="data.lineage" class="cut-corners--left flex-none w-28 px-3 py-2 leading-none self-center">Lineage</label>
                    <input type="text" name="data.lineage" value="{{data.lineage}}" placeholder="Scion of" class="w-40"/>
                    <div class="lineage__line absolute h-0.5 w-4 bg-black top-1/2 -right-4" style="top: calc(50% - 1px);"></div>
                </div>
                <div class="honored-god bg-accent-200 flex flex-row items-stretch relative">
                    <label for="data.honored_god.name" class="cut-corners--left flex-none w-28 px-3 py-2 leading-none self-center">Honored God</label>
                    <input 
                        type="text" 
                        name="data.honored_god.name" 
                        value="{{data.honored_god.name}}"
                        placeholder="Zeus"
                        class="-mr-0.5"/>
                    <input type="text" name="data.honored_god.strength" value="{{data.honored_god.strength}}" placeholder="Authority" class="w-32"/>
                    <div class="divine-favours ">
                        <input 
                            type="checkbox"
                            id="divine_favor_1"
                            name="data.honored_god.favor_1"
                            class="stroked-checkbox--isolated"
                            {{checked data.honored_god.favor_1}}
                            />

                        <input 
                            type="checkbox"
                            id="divine_favor_1"
                            name="data.honored_god.favor_2"
                            class="stroked-checkbox--isolated"
                            {{checked data.honored_god.favor_2}}
                            />
                    </div>
                </div>
            </section>
        </div>
        <section class="domains sheet-section">
            <h1>Domains</h1>
            <div class="flex flex-col">
                {{#each data.domains as |die domain|}}
                    <div class="domain cut-corners--nested flex flex-row flex-1 items-center font-sans font-bold bg-accent-200 pl-2 mb-2 -ml-2 last:mb-0">
                        <img src="systems/agon/assets/{{domain}}.svg" class="h-11 my-2 mr-2 border-none" alt="">
                        <label
                            for="data.domains.{{domain}}"
                            class="resource-label rollable w-24 text-lg leading-none"
                            data-roll="d@domains.{{domain}}"
                            data-label="{{domain}}">{{localize (concat "AGON." domain)}}</label>
                        {{> "systems/agon/templates/partials/die-dropdown.handlebars" 
                            name=(concat 'data.domains.' domain)
                            dieTypes=../config.dieTypes
                            value=die}}
                    </div>
                {{/each}}
            </div>
        </section>
    </div>

    <section class="favors sheet-section">
        <h1>Divine Favor</h1>
        <div class="grid grid-cols-4 gap-4 -ml-2">
            {{#each data.divines as |divine divineHandle|}}
                <div class="divine bg-accent-200 border-0 border-r-2 border-black px-4 py-2 relative mr-4">
                    <div class="divine__strength font-bold">{{divine.strength}}</div>
                    <div class="divine__name">{{divine.name}}</div>
                    <div class="divine__favours divine-favours">
                        <input 
                            type="checkbox"
                            id="{{divineHandle}}.favor_1"
                            name="data.divines.{{divineHandle}}.favor_1"
                            class="stroked-checkbox--isolated"
                            {{checked divine.favor_1}}
                            />
                        <input 
                            type="checkbox"
                            id="{{divineHandle}}.favor_2"
                            name="data.divines.{{divineHandle}}.favor_2"
                            class="stroked-checkbox--isolated"
                            {{checked divine.favor_2}}
                            />
                    </div>
                </div>
            {{/each}}
        </div>
    </section>

    <section class="style sheet-section">
        <h1>Style & Notes</h1>
        {{editor content=data.style target="data.style" button=true owner=owner editable=editable}}
    </section>
    {{!-- <section class="recite">
        <h1>Recite Your Deeds</h1>
        <p>Shouldn't this be part of the roll dialog?</p>
    </section> --}}
    <div class="flex flex-row">
        <section class="pathos sheet-section">
            <h1>Pathos</h1>
            <div class="flex flex-row items-start -ml-2">
                <div class="pathos-line pathos-line--highlighted">
                    <input
                        id="pathos_0"
                        type="radio"
                        value="0"
                        name="data.pathos.value"
                        {{checked pathosChecked.[0]}}
                    />
                    <label for="pathos_0" class="text-sm">None</label>
                </div>
                <div class="pathos-line mt-2">
                    <input
                        type="radio"
                        value="1"
                        name="data.pathos.value"
                        {{checked pathosChecked.[1]}}
                    />
                </div>
                <div class="pathos-line mt-2">
                    <input
                        type="radio"
                        value="2"
                        name="data.pathos.value"
                        {{checked pathosChecked.[2]}}
                    />
                </div>
                <div class="pathos-line mt-2">
                    <input
                        type="radio"
                        value="3"
                        name="data.pathos.value"
                        {{checked pathosChecked.[3]}}
                    />
                </div>
                <div class="pathos-line mt-2">
                    <input
                        type="radio"
                        value="4"
                        name="data.pathos.value"
                        {{checked pathosChecked.[4]}}
                    />
                </div>
                <div class="pathos-line mt-2">
                    <input
                        type="radio"
                        value="5"
                        name="data.pathos.value"
                        {{checked pathosChecked.[5]}}
                    />
                </div>
                <div class="pathos-line pathos-line--highlighted">
                    <input
                        id="pathos_6"
                        type="radio"
                        value="6"
                        name="data.pathos.value"
                        {{checked pathosChecked.[6]}}
                    />
                    <label for="pathos_6" class="text-sm">Agony</label>
                </div>
            </div>
        </section>
        <section class="fate sheet-section">
            <h1>Fate</h1>
            <div class="flex flex-row items-center -ml-2">
                <div class="fate-line fate-line--marked">
                    <input
                        type="checkbox"
                        value="1"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[1]}}
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="2"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[2]}}
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="3"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[3]}}
                    />
                </div>
                <div class="fate-line fate-line--marked">
                    <input
                        type="checkbox"
                        value="4"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[4]}}
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="5"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[5]}}
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="6"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[6]}}
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="7"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[7]}}
                    />
                </div>
                <div class="fate-line fate-line--marked">
                    <input
                        type="checkbox"
                        value="8"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[8]}}
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="9"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[9]}}
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="10"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[10]}}
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="11"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[11]}}
                    />
                </div>
                <div class="fate-line">
                    <input
                        type="checkbox"
                        value="12"
                        {{!-- name="data.fate.value" --}}
                        {{checked fateChecked.[12]}}
                    />
                </div>
            </div>

        </section>
    </div>
    <div class="flex flex-row">
        <section class="boons sheet-section">
            <h1>Boons</h1>
            <div class="flex flex-col flex-wrap h-60 -my-2">
                {{#each data.boons as |boonStatus boon|}}
                <div class="boon w-1/2 my-1 styled-checkbox">
                    <input type="checkbox" id="boon_{{boon}}" name="data.boons.{{boon}}" {{checked boonStatus}}/>
                    <label class="boon__name normal-case" for="boon_{{boon}}">{{localize (concat "AGON." boon)}}</label>
                </div>
                {{/each}}
            </div>
        </section>
        
        <section class="virtues sheet-section w-32">
            <h1>Virtues</h1>
            <div class="flex flex-col justify-between">
                {{#each data.virtues as |virtueAmount virtue|}}
                    <div class="virtue flex flex-row my-1 items-center flex-none w-28">
                        <label
                            class="block w-full mr-2"
                            for="data.virtues.{{virtue}}">{{virtue}}</label>
                        <input
                            name="data.virtues.{{virtue}}"
                            type="number"
                            min="0"
                            value="{{virtueAmount}}" />
                    </div>
                {{/each}}
            </div>
        </section>
    </div>
    <div class="flex flex-row">
        <section class="bonds sheet-section w-1/2 ">
            <h1>Bonds</h1>
            <div class="flex-column -ml-2 mr-4 cut-corners--nested ">
                {{#each data.bonds as |bond bondKey|}}
                    <div class="bond flex flex-row" data-id="{{bondKey}}">
                        <input
                            data-property="name"
                            type="text"
                            value="{{bond.name}}"
                            class="bond__name"/>
                        <input
                            data-property="strength"
                            type="number"
                            value="{{bond.strength}}"
                            class="bond__strength"
                            placeholder="0"
                            min='0'
                            data-dtype="Number"/>
                    </div>
                {{/each}}
            </div>
        </section>
        <section class="trophies sheet-section w-1/2">
            <h1>Great Deeds & Trophies</h1>
            <div class="flex-column cut-corners--nested">
                {{#each data.trophies as |trophy trophyKey|}}
                    <div class="trophy flex flex-row items-center" data-id="{{trophyKey}}">
                        <input
                            type="checkbox"
                            data-dtype="Boolean"
                            data-property="spent"
                            class="styled-checkbox--isolated"
                            {{checked trophy.spent}} />
                        <input
                            data-property="name"
                            type="text"
                            value="{{trophy.name}}"
                            class="trophy__name"/>
                    </div>
                {{/each}}
            </div>
        </section>
    </div>
</form>

