<div class="agon chat-card">
    <p>You face </p>
    <strong>
        {{epithet}} 
        {{#if epithet2}} and {{ epithet2 }} {{/if}}
        {{ name }}</strong>
    <p>in a 
        <strong>
            {{#if epic}} Epic {{/if}}
            {{#if mythic}} Mythic {{/if}}
            {{#if perilous}} Perilous {{/if}}
            {{#if sacred}} Sacred {{/if}}
        </strong>
        contest of </p>
    <div class="domain flex flex-row flex-1 items-stretch font-sans font-bold">
        <img src="systems/agon/assets/{{domain}}.svg" class="w-10" alt="">
        <label
            for="data.domains.{{domain}}"
            class="w-24 text-xl"
            data-label="{{domain}}">{{localize (concat "AGON." domain)}}</label>
    </div>
    <p>The Target is <strong>{{ target }}</strong></p>
    <h2>Who will face this contest?</h2>
    <div class="card-actions">
        <button
            data-action="contest-reply"
            data-target="{{ target }}"
            data-domain="{{ domain }}">Answer the Call</button>
    </div>
</div>